section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/breadcrumb/5.jpg) center center no-repeat;background-size: cover")
		.breadcrumb-overlay
		.container
			h3.pagename
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Hỗ trợ
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Điều khoản và điều kiện giao dịch
				meta(itemprop='position', content='3')
.container
	section.content-page.clearfix
		.flex.flex-wrap.clearfix
			.col-xs-12.col-lg-3
				nav.sidebar-category.clearfix
					h3.title Về Co.oponline
					ul 
						li 
							a(href="#") Giới thiệu
						li 
							a(href="#") Điều khoản sử dụng
						li 
							a(href="#") Chính sách bảo mật
						li 
							a(href="#") Tuyển dụng
						li 
							a(href="#") Liên hệ
						li 
							a(href="#") Video clips
						li 
							a(href="#") Sơ đồ site
				nav.sidebar-category.clearfix
					h3.title Hỗ trợ
					ul 
						li 
							a(href="#") Phương thức đặt hàng
						li 
							a(href="#") Hướng dẫn đặt hàng
						li 
							a(href="#") Phương thức giao hàng
						li 
							a(href="#") Phương thức thanh toán
						li.active
							a(href="#") Chính sách đổi trả hàng
						li 
							a(href="#") Hướng dẫn đổi trả hàng
						li 
							a(href="#") Trung tâm khách hàng
						li 
							a(href="#") Hỏi đáp
				nav.sidebar-category.clearfix
					h3.title Hỗ trợ
					ul 
						li 
							a(href="#") Phương thức đặt hàng
						li 
							a(href="#") Hướng dẫn đặt hàng
						li 
							a(href="#") Phương thức giao hàng
						li 
							a(href="#") Phương thức thanh toán
						li.active
							a(href="#") Chính sách đổi trả hàng
						li 
							a(href="#") Hướng dẫn đổi trả hàng
						li 
							a(href="#") Trung tâm khách hàng
						li 
							a(href="#") Hỏi đáp
			.col-xs-12.col-lg-9