.container
	.row.flex.flex-wrap
		.col-12.col-lg-6.col-xl-7.wow.fadeInLeft
			section.home-brand.clearfix
				.brand-slide
					.item
						.brand-list
							.row.flex.flex-wrap
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/1.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/2.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/3.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/4.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/5.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/6.jpg", alt="")
					.item
						.brand-list
							.row.flex.flex-wrap
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/6.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/5.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/4.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/3.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/2.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/1.jpg", alt="")
					.item
						.brand-list
							.row.flex.flex-wrap
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/4.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/5.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/3.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/1.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/5.jpg", alt="")
								.col-6.col-md-4
									a.brand(href="#")
										img(src="img/brand/6.jpg", alt="")
		.col-12.col-lg-6.col-xl-5.wow.fadeInRight
			.home-video-banner
				.video
					figure 
						a.videoimg(href="#" data-fancybox='hvideo')
							img(src="img/brand/video.jpg", alt="")
							.logo
								img(src="img/logo.png", alt="")
			.home-banner-sale
				.sale-img
					img(src="img/brand/ads.jpg", alt="")
section.home-product-wrap.clearfix
	.home-product.clearfix
		.container
			.home-title.wow.fadeInUp SẢN PHẨM BÁN CHẠY
			.home-product-slide
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.new NEW
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/2.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Kamiliant
								h3.product-name
									a(href="#") Onda Size 79
								.product-kind Spinner 79
								.product-price.clearfix
									.new 2.450.000đ
									.old 4.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/3.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") Samsonite
								.product-kind Spinner 59/69/81
								.product-price.clearfix
									.new 15.800.000đ
									.old 18.000.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/4.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Lady Plume
								.product-kind Spinner 20
								.product-price.clearfix
									.new 2.600.000đ
									.old 5.200.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/5.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Hesrone
								.product-kind Spinner 40
								.product-price.clearfix
									.new 7.400.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/1.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Kamiliant
								h3.product-name
									a(href="#") pixelon
								.product-kind Spinner 69
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
	.home-product.clearfix
		.container
			.home-title.wow.fadeInUp SẢN PHẨM MỚI
			.home-product-slide
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.new NEW
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/6.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Bon Air
								.product-kind Spinner 55/ 66
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/7.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Black Label
								h3.product-name
									a(href="#") Cubelite
								.product-kind Spinner 59/69/81
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/8.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Curio
								.product-kind Spinner 55/80
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/9.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") Pro-DLX 4
								.product-kind Laptop Backpack L 16" Asia
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/10.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Originale Plume
								.product-kind Spinner 55
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
	.home-product.clearfix
		.container
			.home-title.wow.fadeInUp ƯU ĐÃI ĐẶC BIỆT
			.home-product-slide
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/11.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite
								h3.product-name
									a(href="#") 72h
								.product-kind Spinner 55/68/78
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/12.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Eilyn
								.product-kind Backpack
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/13.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Lipault
								h3.product-name
									a(href="#") Lady Plume
								.product-kind Bowling Bag S
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/14.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") Samsonite Red
								h3.product-name
									a(href="#") Claken
								.product-kind Backpack M
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
				.item
					.product-col.wow.zoomIn
						figure 
							.promotion.sale -30%
							.product-popup
								a.btn-viewdetail(href="#!") Chi tiết
								a.btn-buy(href="#!") Mua hàng
							a.product-img(href="#")
								img(src="img/product/15.png", alt="")
							figcaption
								.product-color
									.color(style='background: #5f5c5d')
									.color(style='background: #737fd3')
									.color(style='background: #6d5f97')
								.product-brand 
									a(href="#") American Tourister
								h3.product-name
									a(href="#") Hatton
								.product-kind Laptop Portfolio
								.product-price.clearfix
									.new 4.830.000đ
									.old 6.900.000đ
.container
	.row.flex.flex-wrap
		.col-12.col-lg-6
			section.home-video.clearfix.wow.fadeInLeft
				h2.home-title.text-left Brand movie
				.video-list
					.row
						.col-12
							.video-col.big
								figure
									a.video-img(href="https://www.youtube.com/watch?v=dRGT6JGcmlI" data-fancybox="video")
										img(src="img/news/t7.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Samsonite RED SS17 TVC
						.col-12.col-sm-6.col-md-4
							.video-col
								figure
									a.video-img(href="https://www.youtube.com/watch?v=dRGT6JGcmlI" data-fancybox="video")
										img(src="img/news/t8.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Samsonite
						.col-12.col-sm-6.col-md-4
							.video-col
								figure
									a.video-img(href="https://www.youtube.com/watch?v=dRGT6JGcmlI" data-fancybox="video")
										img(src="img/news/t9.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Samsonite
						.col-12.col-sm-6.col-md-4
							.video-col
								figure
									a.video-img(href="https://www.youtube.com/watch?v=dRGT6JGcmlI" data-fancybox="video")
										img(src="img/news/t11.jpg", alt="")
									figcaption
										h3.video-name
											a(href="#") Samsonite
		.col-12.col-lg-6
			section.home-news.clearfix.wow.fadeInRight
				h2.home-title.text-left Tin tức
				.home-news-slide
					.item
						.news-col
							figure 
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time <i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2017
									h3.news-name
										a(href="#") Những lưu ý quan trọng khi chọn vali du lịch
					.item
						.news-col
							figure 
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time <i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2017
									h3.news-name
										a(href="#") Những lưu ý quan trọng khi chọn vali du lịch
					.item
						.news-col
							figure 
								a.news-img(href="#")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time <i class="fa fa-calendar" aria-hidden="true"></i> 12/07/2017
									h3.news-name
										a(href="#") Những lưu ý quan trọng khi chọn vali du lịch
				.news-list.clearfix
					.row
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure 
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Black Friday cuồng nhiệt mua sắm vali, balo thương hiệu cao cấp
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure 
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Black Friday cuồng nhiệt mua sắm vali, balo thương hiệu cao cấp
						article.col-12.col-sm-6.col-md-4
							.news-col
								figure 
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Black Friday cuồng nhiệt mua sắm vali, balo thương hiệu cao cấp
