.container
	.row.flex.flex-wrap.clearfix
		.col-12.col-lg-9.wow.fadeInLeft
			section.news-page.clearfix
				.news-info
					figure 
						.news-img
							img(src="img/news/3.jpg", alt="")
						figcaption
							h1.news-name Samsonite ưu đãi mừng năm mới
							time 28/07/2017
				.news-detail.content.clearfix
					p 
						strong Tháng 1, hòa cùng không khí sôi động đón chào năm mới, tại tất cả cửa hàng của Samsonite & American Tourister đang diễn ra chương trình hấp dẫn.
					figure
						img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_1.jpg", alt="")
					p Chương trình Ưu đãi vàng: 30%-50% tất cả sản phẩm, bạn sẽ có cơ hội sở hữu những sản phẩm: vali, ba lô, túi xách của Samsonite, American Tourister, High Sierra, Kamiliant thật sành điệu và đẳng cấp.
					figure
						img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_2.jpg", alt="")
					p BST Kamiliant Zulu (17S) với thiết kế túi ngoài rộng, cho phép bạn thỏa chí mua sắm đến phút cuối cùng. Zulu là dòng vali vải lý tưởng cho các tín đồ du lịch nghiện mua sắm. Sản phẩm bảo hành quốc tế 12 tháng.
					figure
						img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_3.jpg", alt="")
					p BST Kamiliant Hari (16S) được thiết kế đẹp mắt với các chi tiết mang tính biểu tượng và đúc nổi thương hiệu. BST có cách đổ màu chuyển tông độc đáo đã sẵn sàng để thiết lập nên xu hướng mới nhất của Kamiliant. Bảo hành quốc tế 12 tháng.
					img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_4.jpg", alt="")
					p BST American Tourister Flourish (80B) được thiết kế năng động, nội thất tuyệt đẹp, dây đai tiện dụng cùng nhiều ngăn tiện ích để chứa hành lý. Màu sắc cá tính và trẻ trung thích hợp cho những chuyến du lịch của bạn. Sản phẩm được bảo hành quốc tế 3 năm.
					figure
						img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_5.jpg", alt="")
					p BST American Tourister Bonair (85A) được sản xuất từ 100% chất liệu nhựa P.P. tiện nghi với thiết kế cải tiến cho các ngăn chứa thông minh. Kiểu dáng đẹp, cá tính và trọng lượng nhẹ. Đây là sản phẩm tuyệt vời cho chuyến du ngoạn lý tưởng, sản phẩm bảo hành quốc tế 3 năm.
					figure
						img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_6.jpg", alt="")
					p BST Samsonite Jet-Liter (R85) có màu sắc tươi sáng là sự kết hợp hoàn hảo giữa trọng lương nhẹ và tính thực tiễn cao. Jet-liter thu hút người nhìn với vẻ đẹp tuyệt vời từ sắc màu sinh động, đem đến cho du khách sự sang trọng và vui tươi trong suốt cuộc hành trình. Sản phẩm bảo hành quốc tế 3 năm.
					figure
						img(src="http://znews-photo-td.zadn.vn/w660/Uploaded/wyhktpu/2016_01_04/Uu_dai_vang_don_xuan_ve_cung_Samsonite_7.jpg", alt="")
					p BST Samsonite Armet (S43) là dòng sản phẩm sang trọng và cuốn hút với nhiều màu sắc tươi trẻ. Thiết kế nội thất thông thoáng, tiện nghi với khóa số tích hợp TSA, cần đẩy chắc chắn, hệ thống bánh xe linh hoạt, vận hành êm. Sản phẩm bảo hành quốc tế 3 năm.
				.share
					.label Share:
					a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-google-plus" aria-hidden="true"></i>
					a(href="#") <i class="fa fa-pinterest-p" aria-hidden="true"></i>
		.col-12.col-lg-3.wow.fadeInRight
			nav.sidebar-category.clearfix
				ul 
					li.active
						a(href="#!") Tin nổi bật
					li 
						a(href="#!") Tin khuyến mãi
					li 
						a(href="#!") Tin sự kiện
					li
						a(href="#!") Tips
			//- .news-sidebar.clearfix
				h3.small-title Tin nổi bật
				.post-list
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/t10.jpg", alt="")
							figcaption
								h2.post-name
									a(href="#") 100 thương hiệu tham gia 'Sale khủng đến nửa đêm' tại Crescent Mall
								time 27/07/2017
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/t12.jpg", alt="")
							figcaption
								h2.post-name
									a(href="#") MWC 2017: Nhiều công nghệ quan trọng được hiện thực hoá
								time 27/07/2017
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/t11.jpg", alt="")
							figcaption
								h2.post-name
									a(href="#") Global Bags & Luggage khuyến mãi đón Giáng sinh
								time 27/07/2017
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/t13.jpg", alt="")
							figcaption
								h2.post-name
									a(href="#") 3 lý do khiến SC VivoCity hút giới trẻ Sài thành dịp Noel
								time 27/07/2017
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/t14.jpg", alt="")
							figcaption
								h2.post-name
									a(href="#") Chương trình 'Khuyến mãi hồng' tại Crescent Mall
								time 27/07/2017
			//- .sidebar-video.clearfix
				iframe(width="100%" height="300" src="https://www.youtube.com/embed/XWLXA4p-5Mc" frameborder="0" allowfullscreen)