.container
	section.home-feature.clearfix.wow.zoomIn
		.row.flex.flex-wrap
			.col-xs-12.col-md-4
				.feature-col
					figure
						.icon
							<i class="fa fa-truck" aria-hidden="true"></i>
						figcaption
							.title Giao hàng miễn phí
							.des Giao hàng miễn phí với mức mua tối thiểu 2.000.000 vnđ trở lên
			.col-xs-12.col-md-4
				.feature-col
					figure
						.icon
							<i class="fa fa-money" aria-hidden="true"></i>
						figcaption
							.title Giao hàng miễn phí
							.des Giao hàng miễn phí với mức mua tối thiểu 2.000.000 vnđ trở lên
			.col-xs-12.col-md-4
				.feature-col
					figure
						.icon
							<i class="fa fa-comments-o" aria-hidden="true"></i>
						figcaption
							.title Giao hàng miễn phí
							.des Giao hàng miễn phí với mức mua tối thiểu 2.000.000 vnđ trở lên
footer.wow.slideInUp
	.container.clearfix
		section.footertop.clearfix
			.row.flex.flex-wrap
				.col-xs-12.col-sm-6.col-lg-3
					section.footercol.clearfix
						.title Về chúng tôi
						nav.footerlink
							ul 
								li
									a(href="#") Giới thiệu
								li
									a(href="#") Hệ thống cửa hàng
								li
									a(href="#") Tuyển dụng
								li
									a(href="#") Liên hệ
					section.footercol.clearfix
						.title Thông tin đặt hàng
						nav.footerlink
							ul 
								li
									a(href="#") Tải khoản
				.col-xs-12.col-sm-6.col-lg-3
					section.footercol.clearfix
						.title Liên kết nhanh
						nav.footerlink
							ul 
								li
									a(href="#") Hỗ trợ
								li
									a(href="#") Chính sách bảo mật
								li
									a(href="#") Bảo hành
								li
									a(href="#") Sitemap
					section.footercol.clearfix
						.title Đăng ký nhận bản tin
						.subscribe
							.subscribefrm
								input(type="text" placeholder="Nhập email...")
								button.subscribebutton Đăng ký
				.col-xs-12.col-lg-6
					section.footercol.clearfix
						.title Theo dõi chúng tôi
						.flex.flex-wrap
							.social
								a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i>
								a(href="#") <i class="fa fa-twitter" aria-hidden="true"></i>
							.brand.clearfix
								a.brand-logo.active(href="#")
									img(src="img/partner/1.png", alt="")
								a.brand-logo.active(href="#")
									img(src="img/partner/2.png", alt="")
								a.brand-logo.active(href="#")
									img(src="img/partner/3.png", alt="")
								a.brand-logo(href="#")
									img(src="img/partner/4.png", alt="")
								a.brand-logo.active(href="#")
									img(src="img/partner/5.png", alt="")
								a.brand-logo(href="#")
									img(src="img/partner/6.png", alt="")
								a.brand-logo(href="#")
									img(src="img/partner/7.png", alt="")
								a.brand-logo(href="#")
									img(src="img/partner/8.png", alt="")
								a.brand-logo(href="#")
									img(src="img/partner/9.png", alt="")
						.btn-wrap
							a.btn-contact(href="javascript:;" data-fancybox="contact" data-src="#popup-contact") Liên hệ hợp tác <span class="lnr lnr-arrow-right"></span>
					#popup-contact.popup-contact
						.popup-wrap
							.row
								.col-12.col-md-6
									.img
										img(src="img/popup.jpg", alt="")
								.col-12.col-md-6
									.popup-form
										.module-title LIÊN HỆ HỢP TÁC
										.form-group
											input(type="text" placeholder="Họ tên *")
										.form-group
											input(type="text" placeholder="Số điện thoại *")
										.form-group
											input(type="text" placeholder="Email *")
										.form-group
											select
												option(value="") Chọn tỉnh / thành phố
										.form-group.captcha
											input(type="text" placeholder="Nhập mã hiển thị")
										input(type="submit", value="Gửi")
		section.footerbottom.clearfix
			.copyright Vincom B, 70 - 72 Lê Thánh Tôn, P. Bến Nghé, Q.1, TP. HCM - Website: www.samsonite-vietnam.com - Email:  info@samsonite-vietnam.com 
				br
				|Copyright @2017 Samsonite Vietnam. All rights reserved.
			.cert
				img(src="img/cert.png", alt="")
.up <i class="fa fa-chevron-up" aria-hidden="true"></i>