header
	section.headertop.clearfix
		.container
			.hotline
				a(href="tel:1800 6360") 1800 6360
			.colright.clearfix
				.login
					ul 
						li
							a(href="#") Đăng ký
						li
							a(href="#") Đăng nhập
				.language
					.dropdown
						a.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							| Tiếng việt
						.dropdown-menu(aria-labelledby='dropdownMenuLink')
							a.dropdown-item(href='#') Tiếng việt
							a.dropdown-item(href='#') English
	section.headermain.clearfix
		.container
			.btn-showmenu.hidden-xl-up <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.colright.clearfix
				.search.clearfix
					.searchbox
						input(type="text" placeholder="Tìm kiếm")
						button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				.sitefeature.clearfix.hidden-lg-down
					ul.clearfix
						li.feature
							figure 
								.icon
									img(src="img/icon/f1.png", alt="")
								figcaption
									.des Hệ thống cửa hàng toàn quốc
						li.feature
							figure 
								.icon
									img(src="img/icon/f2.png", alt="")
								figcaption
									.des Giao hàng toàn quốc
						li.feature
							figure 
								.icon
									img(src="img/icon/f3.png", alt="")
								figcaption
									.des Đổi trả hàng 3 ngày
	section.headermenu.clearfix
		.container
			.mainmenu-wrap.clearfix
				nav.menu.clearfix
					.btn-closemenu.hidden-xl-up ✕
					.sitelogo.hidden-xl-up
						a(href="#")
							img(src="img/logo.png", alt="")
					.menucontent.clearfix
						.menuwrap.clearfix
							ul.menulink.clearfix
								li.hasmega
									a(href="#") Thương hiệu
									.btn-showsub.hidden-xl-up <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/l1.png", alt="")
											ul 
												li 
													a(href="#") All collections
												li 
													a(href="#") Luggage
												li 
													a(href="#") Backpacks
												li 
													a(href="#") bags
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/l2.png", alt="")
											ul 
												li 
													a(href="#") All collections
												li 
													a(href="#") Backpacks
												li 
													a(href="#") bags
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/l3.png", alt="")
											ul 
												li 
													a(href="#") All collections
												li 
													a(href="#") Luggage
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/l4.png", alt="")
											ul 
												li 
													a(href="#") All collections
												li 
													a(href="#") Luggage
												li 
													a(href="#") Backpacks
										.megasub
											a.brand-logo(href="#")
												img(src="img/brand/l5.png", alt="")
											ul 
												li 
													a(href="#") All collections
												li 
													a(href="#") Luggage
												li 
													a(href="#") Backpacks
												li 
													a(href="#") bags
												li 
													a(href="#") accessories
								
								li.hasmega
									a(href="#") vali
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") Vali cứng
												li 
													a(href="#") Vali mềm
												li 
													a(href="#") Vali doanh nhân
												li 
													a(href="#") Văn phòng di động
												li 
													a(href="#") Cặp kéo
												li 
													a(href="#") Vali hai bánh
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/1.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/2.png", alt="")
								li.hasmega.active
									a(href="#") balo
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") BA LÔ DOANH NHÂN
												li 
													a(href="#") TẤT CẢ
												li 
													a(href="#") TRẺ EM
												li 
													a(href="#") DU LỊCH
												li 
													a(href="#") BA LÔ CHÉO
												li 
													a(href="#") BA LÔ KÉO
												li 
													a(href="#") BA LÔ LAPTOP
												li 
													a(href="#") KIDS
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/9.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/14.png", alt="")
								li.hasmega
									a(href="#") túi xách
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") TÚI XÁCH THỜI TRANG
												li 
													a(href="#") TÚI XÁCH NAM
												li 
													a(href="#") TÚI XÁCH NỮ
												li 
													a(href="#") TÚI IPAD-IPHONE
												li 
													a(href="#") TÚI DU LỊCH THỂ THAO
												li 
													a(href="#") TÚI DOANH NHÂN
												li 
													a(href="#") TÚI ĐỰNG LAPTOP
												li 
													a(href="#") TÚI UNISEX
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/13.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/15.png", alt="")
								li.hasmega
									a(href="#") phụ kiện
									.btn-showsub.d-xl-none <i class="fa fa-angle-down" aria-hidden="true"></i>
									.mega
										.megasub
											ul 
												li 
													a(href="#") VÍ
												li 
													a(href="#") GỐI
												li 
													a(href="#") DÂY ĐAI
												li 
													a(href="#") BAO TRÙM VALI
												li 
													a(href="#") ADAPTER
												li 
													a(href="#") TÚI LAPTOP
												li 
													a(href="#") TÚI MỸ PHẨM
												li 
													a(href="#") TÚI CÁ NHÂN
										.megasub
											ul 
												li 
													a(href="#") DÙ
												li 
													a(href="#") KHÓA
												li 
													a(href="#") TÚI PASSPORT
												li 
													a(href="#") TÚI ĐA NĂNG
												li 
													a(href="#") CÂN
												li 
													a(href="#") TÚI ĐEO HÔNG
												li 
													a(href="#") BỊT MẮT
												li 
													a(href="#") THẺ BẢNG TÊN
										.megasub
											a.mega-banner(href="#")
												.label.bestsellers Bán chạy
												.img
													img(src="img/product/13.png", alt="")
										.megasub
											a.mega-banner(href="#")
												.label.newarrivals Sản phẩm mới
												.img
													img(src="img/product/15.png", alt="")
								li.sale
									a(href="#") Khuyến mãi vàng
									//- .btn-showsub.hidden-xl-up <i class="fa fa-angle-down" aria-hidden="true"></i>
									//- .sub
										ul 
											li 
												a(href="#") Khuyến mãi 1
											li 
												a(href="#") Khuyến mãi 2
											li 
												a(href="#") Khuyến mãi 3
								li
									a(href="#") Our tips
								li.hassub
									a(href="#") Tin tức
									.btn-showsub.hidden-xl-up <i class="fa fa-angle-down" aria-hidden="true"></i>
									.sub
										ul 
											li 
												a(href="#") Tin thị trường
											li 
												a(href="#") Kinh nghiệm du lịch
											li 
												a(href="#") Tin khuyến mãi
											li 
												a(href="#") Tin sự kiện
								
								li.event
									a(href="#") Sự kiện
									//- .btn-showsub.hidden-xl-up <i class="fa fa-angle-down" aria-hidden="true"></i>
									//- .sub
										ul 
											li 
												a(href="#") Khuyến mãi 1
											li 
												a(href="#") Khuyến mãi 2
											li 
												a(href="#") Khuyến mãi 3
				.cart.clearfix
					.carttoggle
						<span class="lnr lnr-cart"></span>
						.cartamount 2